name: RuboCop

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Run RuboCop
        run: bundle exec rubocop
